$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window#bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  font-size: 14px;

  > box {
    background: $bg-color;
  }

  button {
    border-radius: 25px;
    margin: 2.5px;
    min-height: 0;
    padding: 0 2.5px;
  }
  button.focused {
    background-color: $fg-color;
    color: $bg-color;
  }
}
