@use "sass:color";
@use "/home/emanuel/.config/ags_variables.scss" as *;

@use "./scss/Audio.scss";
@use "./scss/BatteryLevel.scss";
@use "./scss/Media.scss";
@use "./scss/SysTray.scss";
@use "./scss/Time.scss";
@use "./scss/Wifi.scss";
@use "./scss/Workspaces.scss";

* {
  all: unset;
}

window.Bar {
  background-color: $bg;
  color: $text;
  font-size: 14px;
}
