@use "sass:color";
@use "/home/emanuel/.config/ags_variables.scss" as *;

.Wifi {
  border-radius: 15px;
  border: solid $border 1px;
  margin: 0 2.5px;
  padding: 0 5px;

  icon {
    margin: 0 2px;
  }
}
