@use "sass:color";
@use "./Variables.scss" as *;

.Workspaces {
  label {
    background-color: $main;
    border-radius: 25px;
    border: solid $border 1px;
    margin: 0 2.5px;
    opacity: 0.4;
    padding: 0 5px;
    transition: all 0.3s ease-in-out;
  }

  .focused label {
    opacity: 1;
  }
}
