* {
  all: unset; //Unsets everything so you can style everything from scratch
}

.workspaces {
  button {
    padding: 0px 5px;
    text-shadow: black 1px 1px 5px;
    border: solid black 1px;
    border-radius: 25px;
    &.focused {
      background-color: #d60202;
    }
  }
}
